body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ff6347;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar .logo img {
    height: 50px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
    font-weight: bold;
}

.navbar .nav-links a:hover {
    background-color: #ff4500;
    border-radius: 5px;
}

.container {
    text-align: center;
    margin: 50px 20px;
}

.container h1 {
    color: #333;
    font-size: 48px;
    margin-bottom: 10px;
}

.container p {
    color: #777;
    font-size: 18px;
}

.content {
    text-align: center;
    margin: 20px;
}

.content h2 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #ff6347;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
